<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="top-header">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            <div class="form" action="#" method="GET">
                <div class="input"><input type="busqueda" placeholder="Buscar productos, marcas y más"></div>
                <div class="submit"><button><i class="fa fa-search"></i></button></div>
            </div>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <div class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>

            </ul>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section class="banner">
        <img src="/images/img-home-banner.jpg" alt="banner">
    </section>
    <main>

        <!--TODOS LOS TEXTOS DEL MAIN EN ROBOTO-->
        <section class="visitas"><!--1RA SECCION-->
            <h2 class="titular">Basado en tu última visita</h2>
            <div class="variosArticulos">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera">
                    <div class="main-article">
                        <div class="product product-desc-box">
                            <i class="fa-solid fa-truck product-delivery-icon"></i>
                            <div class="flex-item">
                                <p class="precio w-30p">$6.770</p>
                                <p class="descuento w-70p">40% off</p>
                            </div>
                            <h1 class="descGris">Cafetera Moulinex</h1>
                        </div>
                    </div>
                </article>

                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="Imagen Macbook">
                    <div class="main-article">
                        <div class="product product-desc-box">
                            <i class="fa-solid fa-truck product-delivery-icon"></i>
                            <div class="flex-item">
                                <p class="precio w-30p">$230.000</p>
                                <p class="descuento w-70p">20% off</p>
                            </div>
                            <h1 class="descGris">MacBook Pro 2019</h1>
                        </div>
                    </div>

                </article>

                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy-s10">
                    <div class="main-article">
                        <div class="product product-desc-box">
                            <i class="fa-solid fa-truck product-delivery-icon"></i>
                            <div class="flex-item">
                                <p class="precio w-30p">$70.500</p>
                                <p class="descuento w-70p">10% off</p>
                            </div>
                            <h1 class="descGris">Samsung Galaxy S10</h1>
                        </div>
                    </div>

                </article>

                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="Imagen Tv Samsung Smart">
                    <div class="main-article">
                        <div class="product product-desc-box">
                            <i class="fa-solid fa-truck product-delivery-icon"></i>
                            <div class="flex-item">
                                <p class="precio w-30p">$23.200</p>
                                <p class="descuento w-70p">5% off</p>
                            </div>
                            <h1 class="descGris">SmartTv Samsung 43"</h1>
                        </div>
                    </div>

                </article>
            </div>
        </section>

        <section class="oferta"><!--2DA SECCION-->
            <h2 class="titular">Ofertas</h2>
            <div class="variosArticulos">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera">
                    <div class="main-article">
                        <div class="product product-desc-box">
                            <i class="fa-solid fa-truck product-delivery-icon"></i>
                            <div class="flex-item">
                                <p class="precio w-30p">$6.770</p>
                                <p class="descuento w-70p">40% off</p>
                            </div>
                            <h1 class="descGris">Cafetera Moulinex</h1>
                        </div>
                    </div>

                </article>

                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="Imagen Macbook">
                    <div class="main-article">
                        <div class="product product-desc-box">
                            <i class="fa-solid fa-truck product-delivery-icon"></i>
                            <div class="flex-item">
                                <p class="precio w-30p">$230.000</p>
                                <p class="descuento w-70p">20% off</p>
                            </div>
                            <h1 class="descGris">MacBook Pro 2019</h1>
                        </div>
                    </div>

                </article>

                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy-s10">
                    <div class="main-article">
                        <div class="product product-desc-box">
                            <i class="fa-solid fa-truck product-delivery-icon"></i>
                            <div class="flex-item">
                                <p class="precio w-30p">$70.500</p>
                                <p class="descuento w-70p">10% off</p>
                            </div>
                            <h1 class="descGris">Samsung Galaxy S10</h1>
                        </div>
                    </div>

                </article>

                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="Imagen Tv Samsung Smart">
                    <div class="main-article">
                        <div class="product product-desc-box">
                            <i class="fa-solid fa-truck product-delivery-icon"></i>
                            <div class="flex-item">
                                <p class="precio w-30p">$23.200</p>
                                <p class="descuento w-70p">5% off</p>
                            </div>
                            <h1 class="descGris">SmartTv Samsung 43"</h1>
                        </div>
                    </div>

                </article>
            </div>
        </section>

    </main>
    <footer>
        <div class="contenedor-footer">
            <div>
                <div class="iconofooter"><i class="fa-solid fa-credit-card"></i></div>
                <h3 class="titlefooter">Pagá con tarjeta o en efectivo</h3>
                <div class="descripcionfooter">Con Mercado Liebre Cash tenés cuotas sin interés con tarjeta
                    o efectivo en puntos de pago. ¡Y siempre es seguro!</div>
            </div>


            <div>
                <div class="iconofooter"><i class="fa-solid fa-gift"></i></div>
                <h3 class="titlefooter">Envío gratis desde $2.500</h3>
                <div class="descripcionfooter">Solo por estar registrado en Mercado Liebre tenés envíos
                    gratis en miles de productos. Es un beneficio de Mercado Puntos</div>

            </div>

            <div>
                <div class="iconofooter"><i class="fa-solid fa-user-shield"></i></div>
                <h3 class="titlefooter">Seguridad de principio a fin</h3>
                <div class="descripcionfooter">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no
                    puedas hacer porque estás siempre protegi@.</div>
            </div>

        </div>
        <div class="Copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
        </div>

    </footer>
</body>

</html>